.admin-page {
  padding: 40px;
  text-align: center;
}

.admin-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.admin-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.admin-card {
  width: 250px;
  padding: 40px;
  border-radius: 16px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.admin-card:hover {
  transform: translateY(-5px);
}